@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand-orange: #ff733c;
  --brand-secondary: #5A698C;
  --brand-accent: #32be50;
  --brand-tintedgrey: #737373;
  --brand-darkgrey: #1b1b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-oswald: var(--font-oswald);
  --color-brand-orange: var(--brand-orange);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);
  --color-brand-darkgrey: var(--brand-darkgrey);
  --color-brand-tintedgrey: var(--brand-tintedgrey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans antialiased;
}

button {
  cursor: pointer;
}
